.App {
	width: 400px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(227, 226, 225);

}

header{
	background-color: #3B6FD2;
	height: 60px;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.button{
	border:none;
	background-color: #3B6FD2;
	color:aliceblue;
	height: 100%;
	font-size: 18px;
	border-radius: 6px;
	
}

.icon{
	cursor: pointer;
	margin:  0 10px;
	width: 35px;
	height: 35px;

}
.page{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	width: 100%;
}

.place{
	display: flex;
	flex-flow: column;
	/* align-items: center; */
	border: solid 1px rgb(18, 16, 54);
	border-radius:12px ;
	width: 95%;
	height: 450px;
	margin: 10px;
	overflow-y:auto ;
	overflow-x:hidden ;

}
.AddRoom{
	width: 100%;
}
.colorMarker{
	width: 15px;
	height: 15px;
	border-radius: 25px;
}

/* .color{
	background-color: coral;
	width: 15px;
	height: 15px;
} */

.addButton{
	cursor: pointer;
	margin: 10px;
	width: 180px;
	height: 80px;
	border: none;
	border-radius: 12px;
	color: azure;


	background-color: #3B6FD2;

}

.roomButton{
	cursor: pointer;
	margin: 10px;
	width: 95%;
	height: 70px;
	display: flex;
	flex-flow: row;
	border: none;
	justify-content: space-between;
	border-radius: 12px;
	transition: all 0.2s ease-in-out;
}

.roomButton:hover{
	transform: translateY(-2px);
	box-shadow: 2px 2px 3px rgb(36, 36, 36);
}

.exe{
	position: relative;
	width: 20px;
	height: 18px;
	border-radius: 25px;
	background-color: #7a7878;
	border: solid 1px rgb(103, 103, 103);
	font-size: 18px;
	padding: auto;
	left: 5px;
	bottom: 2px;
	color: #e0e0e0;
	transition: all .1s ease;
}

.exe:hover{
	background-color: #9c9a9a;
}

.input{
	width: 70%;
	height: 35px;
	margin:25px 5px ;
	border-radius: 6px;
	font-size: 18px;
}

.center{
	justify-content: center;
}

.roomAdd{
	width: 150px;
	height: 40px;
	font-size: 20px;
}

.header{
	display: flex;
	flex-flow: row;
	width: 95%;
	height: 15%;
	justify-content: center;
	align-items: center;
}

.addDevice{
	height: 110%;
}

.devices{
	background-color: #ffff;
}

.toggle{
	position: relative;
	cursor: pointer;
	width: 70%;
	height: 70%;
	margin: 0px 0px;
	border-radius: 6px;
	left: 30px;
	top: 10px;
	transition: all .1s ease-in;
}

.toggle:hover{
	transform: translateY(-2px);

}

.toggle:active{
	transform: translateY(2px);
}


.flexRow{
	display: flex;
	flex-flow: row;
	
}

.flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.trashcan{
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin: 8px;
	transition: all 0.1s ease;
}

.trashcan:hover{
	width: 38px;
	height: 38px;
	background: #e0e0e0;
  filter: alpha(opacity=30%);
	border-radius: 25px;
	

}

